<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>$(CUSTOMER_FLUTTER_APS_ENVIRONMENT)</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>$(CUSTOMER_FLUTTER_ASSOCIATED_DOMAIN)</string>
		<string>$(CUSTOMER_FLUTTER_WEBCREDENTIALS_DOMAIN)</string>
	</array>
</dict>
</plist>
